<div xmlns:th="http://www.thymeleaf.org" th:fragment="accountLogin">

    <form method="POST" th:object="${account}" th:action="@{/login}">
        <p>Please eneter the following data:</p>
        <table>
            <tr>
                <td><label>Name</label></td>
                <td><input th:field="*{userName}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input th:field="*{userEmail}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userEmail')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input th:field="*{userPassword}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userPassword')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><input type="submit" value="Next"/></td>
            </tr>
        </table>
    </form>
    <form method="GET" th:action="@{/}">
        <p></p>
        <input type="submit" value="Go back"/>
    </form>



</div>