<div xmlns:th="http://www.thymeleaf.org" th:fragment="accountInfo" th:object="${account}">


    <b>W tym momencie powinien być komunikat o wysłaniu maila potwierdzjącego utworzenie konta wraz z linkiem do jego aktywacji</b>
    <table border="1">
        <tr>
            <td><b>User login:</b></td>
            <td width="100"><p th:text="*{userName}"></td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td><p th:text="*{userEmail}"></td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <form method="GET" th:action="@{'/account/address/add'+*{userName}}">
                    <p></p>
                    <input type="submit" value="Add shipping data"/>
                </form>
            </td>
            <td>
                <form method="GET" th:action="@{'/account/password/update'+*{userName}}">
                    <p></p>
                    <input type="submit" value="Change password"/>
                </form>
            </td>
        </tr>
    </table>

</div>