<div xmlns:th="http://www.thymeleaf.org" th:fragment="accountLoginError">

        <p>LOGGING ERROR</p>

    <form method="GET" th:action="@{/login}">
        <p></p>
        <input type="submit" value="Try again"/>
    </form>

</div>