<div xmlns:th="http://www.thymeleaf.org" th:fragment="accountAddFormDataChecking" th:object="${account}">

    <p>Check data of your account:</p>
    <p></p>
    <table>
        <tr>
            <td><b>Login:</b></td>
            <td th:text="*{userName}"/>
            </td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td th:text="*{userEmail}"/>
            </td>
        </tr>
        <tr>
            <td><b>Password:</b></td>
            <td th:text="*{userPassword}"/>
            </td>
        </tr>
    </table>

    <form method="GET" th:action="@{/account/modifyNewAccountData}">
        <p></p>
        <input type="submit" value="Modify"/>
    </form>
    <form method="GET" th:action="@{/account/info}">
        <p></p>
        <input type="submit" value="Save"/>
    </form>

</div>