<div xmlns:th="http://www.thymeleaf.org" th:fragment="accountAdd">

    <h3>This site is under construction</h3>

    <form method="POST" th:object="${account}" th:action="@{/account/add}">
        <p>Please enter data of your new account:</p>

        <table>
            <tr>
                <td><b>Login:</b></td>
                <td><input th:field="*{userName}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td><input th:field="*{userEmail}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userEmail')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td><input th:field="*{userPassword}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userPassword')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><input type="submit" value="Next"/></td>
            </tr>
        </table>

    </form>

    <form method="GET" th:action="@{/}">
        <p></p>
        <input type="submit" value="Go back"/>
    </form>

</div>