<div xmlns:th="http://www.thymeleaf.org" th:fragment="productsSearchingResults">

    <table>
        <tr>
            <td>
                <form method="GET" th:action="@{/products/add}">
                    <input type="submit" value="Add new product"/>
                </form>
            </td>
            <td>
                <form method="GET" th:action="@{/products/databaseErasingPassword}">
                    <input type="submit" value="Clear database"/>
                </form>
            </td>
        </tr>
    </table>
    <hr>

    <table border="1">
        <tr>
            <td><b>Name</b></td>
            <td width="50"><b>Price</b></td>
            <td width="50"><b>Stock</b></td>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">

            <td><p th:text="*{productCode}"></td>
            <td><p th:text="*{productName}"></td>
            <td><p th:text="*{productPrice}"></td>
            <td><p th:text="*{productStock}"></td>
            <td><p th:text="*{productDateOfCreation}"></td>
            <td><a th:href="@{'/products/toCart/'+*{productCode}}">add to cart</a></td>
            <td><a th:href="@{'/products/edit/'+*{productCode}}">edit</a></td>
            <td><a th:href="@{'/products/delete/'+*{productCode}}">delete</a></td>
        </tr>
    </table>

</div>