<div xmlns:th="http://www.thymeleaf.org" th:fragment="cart">

    <!--LIST OF PRODUCTS MOVED TO THE CART-->

    <p>Your cart:</p>
    <p></p>

    <!--<h1 class="jumbotron">-->
    <!--<span sec:authentication="name"></span>'s Shopping Cart-->
    <!--</h1>-->

    <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

    <table border="1">
        <tr>
            <td><b>Product</b></td>
            <td width="50"><b>Price</b></td>
            <td width="50"><b>Stock</b></td>
        </tr>
        <tr th:each="item : ${items}">
            <td><p th:text="${item.value.getProductName()}"></td>
            <td><p th:text="${item.value.getProductPrice()}"></td>
            <td><p th:text="${item.value.getQuantity()}"></td>
            <td><a th:href="@{'/cart/productUp/'+*{item.key}}">
                <button th:text="'+'"></button>
            </a>
            <a th:href="@{'/cart/productDown/'+*{item.key}}">
                <button th:text="'-'"></button>
            </a></td>
            <td><a th:href="@{'/cart/productRemove/'+*{item.key}}">delete</a></td>
        </tr>
    </table>

    <div class="row panel-body">
        <h2 class="col-md-11" th:inline="text">Total: [[${total}]] PLN</h2>

        <!--<a th:href="@{/account/addAddress}" class="col-md-1">-->
            <!--&lt;!&ndash;TODO poczytać o button tagu&ndash;&gt;-->
            <!--<button th:text="Checkout"></button>-->
        <!--</a>-->

    </div>

        <table>
            <tr>
                <td>
                    <form method="GET" th:action="@{/cart/checkout}" th:if="${total_int}>0">
                        <input type="submit" value="Checkout"/>
                    </form>
                </td>
                <td>
                    <form method="GET" th:action="@{/}">
                        <input type="submit" value="Continue shopping"/>
                    </form>
                </td>
            </tr>
        </table>
</div>