<div xmlns:th="http://www.thymeleaf.org" th:fragment="cartCheckout">

    <!--LIST OF PRODUCTS MOVED TO THE CART-->

    <p>You are about to buy the following items in our shop:</p>
    <p></p>

    <!--<h1 class="jumbotron">-->
    <!--<span sec:authentication="name"></span>'s Shopping Cart-->
    <!--</h1>-->

    <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>
    <table border="1">
        <tr>
            <td width="100  "><b>Name</b></td>
            <td width="50"><b>Price</b></td>
            <td width="50"><b>Quantity</b></td>
        </tr>
        <tr th:each="item : ${items}">
            <td><p th:text="${item.value.getProductName()}"></td>
            <td><p th:text="${item.value.getProductPrice()}"></td>
            <td><p th:text="${item.value.getQuantity()}"></td>
        </tr>
    </table>

    <div class="row panel-body">
        <h2 class="col-md-11" th:inline="text">Total amount to pay: [[${total}]] PLN</h2>
    </div>

    <table>
        <tr>
            <td>
                <p>If you have an account in our site please log in.</p>
            </td>
            <td>
                <form method="GET" th:action="@{/account/signin}">
                    <input type="submit" value="Sign in"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <p>Otherwise please sign up firstly.</p>
            </td>
            <td>
                <form method="GET" th:action="@{/account/add}">
                    <input type="submit" value="Sign up"/>
                </form>
            </td>
        </tr>
    </table>

    <!--TODO    -->
    <!--<p>Or you can skip this step<a th:href="">>>></a></p>-->

</div>