<div xmlns:th="http://www.thymeleaf.org" th:fragment="databaseErasingConfirmation">

    <p style="color:Red; text-align:center">!! WARNING !!</p>
    <p style="color:Red; text-align:center">YOU ARE ABOUT TO CLEAR ALL THE DATA IN DATABASE</p>
    <p style="text-align:center">Are you sure ?</p>

    <table align="center">
        <tr>
            <td>
                <a th:href="@{/products/databaseErased}">YES</a>
            </td>
            <td>
                <a th:href="@{/}">NO</a>
            </td>
        </tr>
    </table>
</div>
