<div xmlns:th="http://www.thymeleaf.org" th:fragment="databaseErasingPassword">

    <form method="POST" th:object="${passwordForm}" th:action="@{/products/databaseErasingPassword}">
        <table style="margin-left: auto; margin-right: auto">
            <tr>
                <td><label>Type userPassword to clean the database: </label></td>
                <td><input th:field="*{password}"/></td>
                <td><input type="submit" value="Go"/></td>
            </tr>
        </table>
    </form>

</div>
