<div xmlns:th="http://www.thymeleaf.org" th:fragment="databaseErased">

    <p>Database is empty !!</p>

    <form method="GET" th:action="@{/products/add}">
        <p></p>
        <input type="submit" value="Add new product"/>
    </form>

</div>
