<div style="margin-left: auto; margin-right: auto" xmlns:th="http://www.thymeleaf.org"
     th:fragment="productsCustomerView" xmlns:sec="http://www.w3.org/1999/xhtml">

    <table>
        <tr>
            <td>
                <p>// (tu będzie opcja filtrowanie produktów) //</p>
            </td>
        </tr>
    </table>

    <hr>
    <p></p>

    <table border="1">
        <tr>
            <td width="150"><b>Name</b></td>
            <td width="50"><b>Price</b></td>
            <td width="50"><b>Stock</b></td>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">
            <td><p th:text="*{productName}"></td>
            <td><p th:text="*{productPrice}"></td>
            <td><p th:text="*{productStock}"></td>
            <td><a th:href="'/product/info/'+*{productCode}">info</a></td>
            <td><a th:href="@{'/cart/addProduct/'+*{productCode}}" class="col-md-1"
                   th:if="*{productStock}>0">to cart
            </a></td>
            <!--<td><a th:href="'/cart/'+*{productCode}">to cart</a></td>-->
        </tr>
    </table>

</div>
