<div xmlns:th="http://www.thymeleaf.org" th:fragment="productsSearchingResults">
    <table>
        <tr>
            <td>
                <form method="GET" th:action="@{/products/add}">
                    <input type="submit" value="Add new product"/>
                </form>
            </td>
            <td>
                <form method="GET" th:action="@{/products/databaseErasingPassword}">
                    <input type="submit" value="Clear database"/>
                </form>
            </td>
        </tr>
    </table>

    <hr>

    <table border="1">
        <tr>
            <td width="150"><b>Name</b></td>
            <td width="50"><b>Price</b></td>
            <td width="50"><b>Stock</b></td>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">
            <td><p th:text="*{productName}"></td>
            <td><p th:text="*{productPrice}"></td>
            <td><p th:text="*{productStock}"></td>
            <td><a th:href="'/product/info/'+*{productCode}">info</a></td>
            <td><a th:href="@{'/cart/addProduct/'+*{productCode}}" class="col-md-1"
                   th:if="*{productStock}>0">to cart
            </a></td>
        </tr>
    </table>
</div>