<div style="margin-left: auto; margin-right: auto" xmlns:th="http://www.thymeleaf.org" th:fragment="productsAdminView">

    <table>
        <tr>
            <td>
                <p>// FILTERS to implement - under construction //</p>
            </td>
        </tr>
    </table>

    <hr>
    <p></p>

    <table>
        <tr>
            <td>
                <form method="GET" th:action="@{/products/add}">
                    <input type="submit" value="Add new product"/>
                </form>
            </td>
            <td>
                <form method="GET" th:action="@{/products/databaseErasingPassword}">
                    <input type="submit" value="Erase database"/>
                </form>
            </td>
        </tr>
    </table>
    <hr>

    <p></p>
    <table border="1">
        <tr>
            <td><b>Code</b></td>
            <td><b>Name</b></td>
            <td width="50"><b>Price</b></td>
            <td width="50"><b>Stock</b></td>
            <!--<td width="50"><b>Description</b></td>-->
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">

            <td><p th:text="*{productCode}"></td>
            <td><p th:text="*{productName}"></td>
            <td><p th:text="*{productPrice}"></td>
            <td><p th:text="*{productStock}"></td>
            <!--<td><p th:text="*{productDescription}"></td>-->
            <!--<td><p th:text="*{productDateOfCreation}"></td>-->
            <td><a th:href="'/product/info/'+*{productCode}">info</a></td>
            <td><a th:href="@{'/cart/addProduct/'+*{productCode}}" class="col-md-1"
                   th:if="*{productStock}>0">to cart
            <td><a th:href="'/products/edit/'+*{productCode}">edit</a></td>
            <td><a th:href="'/products/delete/'+*{productCode}">delete</a></td>
        </tr>
    </table>

</div>
