<div xmlns:th="http://www.thymeleaf.org" th:fragment="productAddFormDataCheck" th:object="${product}">

    <p>Check data of a new product:</p>
    <p></p>
    <table>
        <tr>
            <td><b>Name:</b></td>
            <td th:text="*{productName}"/>
            </td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td th:text="*{productPrice}"/>
            </td>
        </tr>
        <tr>
            <td><b>Stock:</b></td>
            <td th:text="*{productStock}"/>
            </td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td th:text="*{productDescription}"/>
            </td>
        </tr>
    </table>

    <form method="GET" th:action="@{/products/modifyNewProductData}">
        <p></p>
        <input type="submit" value="Modify"/>
    </form>
    <form method="GET" th:action="@{/products/added}">
        <p></p>
        <input type="submit" value="Save"/>
    </form>
</div>

