<div xmlns:th="http://www.thymeleaf.org" th:fragment="productAdd">

    <form method="POST" th:object="${product}" th:action="@{/products/add}">
        <p>Enter data of a new product:</p>
        <table>
            <tr>
                <td><label>Name</label></td>
                <td><input th:field="*{productName}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('productName')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Price</label></td>
                <td><input th:field="*{productPrice}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('productPrice')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Stock</label></td>
                <td><input th:field="*{productStock}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('productStock')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td><input th:field="*{productDescription}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('productDescription')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><input type="submit" value="Next"/></td>
            </tr>
        </table>
    </form>

    <form method="GET" th:action="@{/}">
        <p></p>
        <input type="submit" value="Go back"/>
    </form>

</div>
