<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:fragment="productInfo"
     th:object="${product}">

        <table>
            <tr>
                <td><b>Name:</b></td>
                <td th:text="*{productName}"/>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td th:text="*{productDescription}"/>
            </tr>
            <tr>
                <td><b>Stock:</b></td>
                <td th:text="*{productStock}+' pcs.'"/>
            </tr>
            <tr>
                <td><b>Price: </b></td>
                <td th:text="*{productPrice}+' EUR'"/>
            </tr>
        </table>

    <form method="GET" th:action="@{'/cart/addProduct/'+*{productCode}}" class="col-md-1"
          th:if="*{productStock}>0">
        <p></p>
        <input type="submit" value="To cart"/>
    </form>
    <form method="GET" th:action="@{/}">
        <p></p>
        <input type="submit" value="Go back"/>
    </form>

</div>
