<div xmlns:th="http://www.thymeleaf.org" th:fragment="productEditFormConfirmation" th:object="${product}">

    <p>Check data of edited product:</p>
    <p></p>
    <table>
        <tr>
            <td><b>Code:</b></td>
            <td th:text="${productCode}"></td>
        </tr>
        <tr>
            <td><b>Name:</b></td>
            <td th:text="*{productName}"/>
            </td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td th:text="*{productPrice}"/>
            </td>
        </tr>
        <tr>
            <td><b>Stock:</b></td>
            <td th:text="*{productStock}"/>
            </td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td th:text="*{productDescription}"/>
            </td>
        </tr>
    </table>

    <form method="GET" th:action="@{'/products/modifyEditedProductData/'+${productCode}}">
        <p></p>
        <input type="submit" value="Modify"/>
    </form>
    <form method="GET" th:action="@{'/products/edited/'+${productCode}}">
        <p></p>
        <input type="submit" value="Save"/>
    </form>
</div>

