<div xmlns:th="http://www.thymeleaf.org" th:fragment="productDeleteConfirmation" th:object="${product}">

    <p>Are you sure to remove the following product from database?</p>
    <p></p>
    <table>
        <tr>
            <td>
                <form method="GET" th:action="@{'/products/deleted/'+*{productCode}}">
                    <input type="submit" value="YES"/>
                </form>
            </td>
            <td>
                <form method="GET" th:action="@{/}">
                    <input type="submit" value="NO"/>
                </form>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td><b>Code:</b></td>
            <td th:text="*{productCode}"/>
            </td>
        </tr>
        <tr>
            <td><b>Name:</b></td>
            <td th:text="*{productName}"/>
            </td>
        </tr>
        <tr>
            <td><b>Price:</b></td>
            <td th:text="*{productPrice}"/>
            </td>
        </tr>
        <tr>
            <td><b>Stock:</b></td>
            <td th:text="*{productStock}"/>
            </td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td th:text="*{productDescription}"/>
            </td>
        </tr>
    </table>


</div>

