<div xmlns:th="http://www.thymeleaf.org" th:fragment="shippingDataForm">

    <form method="POST" th:object="${account}" th:action="@{/account/addAddress}">
        <p>Please enter data of your billing address:</p>

        <table>
            <tr>
                <td><label>Your login:</label></td>
                <td><p th:text="*{userName}"/></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><p th:text="*{userEmail}"/></td>

            </tr>
            <tr>
                <td><label>Full name:</label></td>
                <td><input th:field="*{userFullname}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userFullname')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Street:</label></td>
                <td><input th:field="*{userStreet}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userStreet')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Street number:</label></td>
                <td><input th:field="*{userStreetNumber}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userStreetNumber')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>postalCode:</label></td>
                <td><input th:field="*{userPostalCode}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userPostalCode')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>City:</label></td>
                <td><input th:field="*{userCity}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userCity')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><label>Phone:</label></td>
                <td><input th:field="*{userPhoneNumber}"/></td>
                <ul>
                    <li th:each="err : ${#fields.errors('userPhoneNumber')}" th:text="${err}" />
                </ul>
            </tr>
            <tr>
                <td><input type="submit" value="Next"/></td>
            </tr>
        </table>

    </form>
    <form method="GET" th:action="@{/}">
        <p></p>
        <input type="submit" value="Go back"/>
    </form>

</div>