<div xmlns:th="http://www.thymeleaf.org" th:fragment="signin">

    <h3>This site is under construction</h3>

    <!--<p th:if="${param.error}" class="error">Wrong user or password</p>-->
    <!--<p th:if="${param.logout}" class="error">Logout</p>-->
    <!--<form th:action="@{/j_spring_security_check}" method="POST">-->
        <!--<label for="userName">Username</label>:-->
        <!--<input th:field="*{userName}"/>-->
        <!--<input type="text" id="userName" name="userName" autofocus="autofocus" /> <br />-->
        <!--<label for="userPassword">Password</label>:-->
        <!--<input th:field="*{userPassword}"/>-->
        <!--<input type="userPassword" id="userPassword" name="userPassword" /> <br />-->
        <!--<input type="submit" value="Log in" />-->
    <!--</form>-->

</div>