<div xmlns:th="http://www.thymeleaf.org" th:fragment="signinError">

    <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/}">Back to Home Page</a>
    </div>

</div>