<!--<div xmlns:th="http://www.thymeleaf.org" th:fragment="accountAdd">-->

    <!--<form method="POST" th:object="${account}" th:action="@{/account/add}">-->
        <!--<p>Enter data of a new user:</p>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td><label>Name</label></td>-->
                <!--<td><input th:field="*{userName}"/></td>-->
                <!--<ul>-->
                    <!--<li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />-->
                <!--</ul>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><label>Password</label></td>-->
                <!--<td><input th:field="*{encrytedPassword}"/></td>-->
                <!--<ul>-->
                    <!--<li th:each="err : ${#fields.errors('encrytedPassword')}" th:text="${err}" />-->
                <!--</ul>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><label>userRole</label></td>-->
                <!--<td><input th:field="*{userRole}"/></td>-->
                <!--<ul>-->
                    <!--<li th:each="err : ${#fields.errors('userRole')}" th:text="${err}" />-->
                <!--</ul>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><input type="submit" value="Next"/></td>-->

            <!--</tr>-->
        <!--</table>-->
    <!--</form>-->
    <!--<form method="GET" th:action="@{/}">-->
        <!--<p></p>-->
        <!--<input type="submit" value="Go back"/>-->
    <!--</form>-->



<!--</div>-->