<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <p></p>
    <hr>
    <table style="margin-left: auto; margin-right: auto; text-align: left">
        <tr>
            <td ><a href="/contact">Contact</a></td>
            <td><a href="/info">Info</a></td>
        </tr>
    </table>
</div>
