<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <table style="width:100%">
        <tr>
            <td align="left">
                <a href="/">Index</a>
            </td>
            <td align="center">
                <form method="POST" th:object="${searchForm}" th:action="@{/}">
                    <table>
                        <tr>
                            <td><label>Type any text to search by name or description:</label></td>
                        </tr>
                        <tr>
                            <td><input th:field="*{searchText}"/><input type="submit" value="Go"/></td>
                            <td>
                                <ul>
                                    <li th:each="err : ${#fields.errors('searchText')}" th:text="${err}"/>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td align="right">
                <a href="/account/signin">Sign in</a>
            </td>
            <td align="right">
                <a href="/account/add">Sign Up</a>
            </td>
            <!--<td align="right">-->
            <!---->
            <!--</td>-->
            <td align="right">
                <a href="/cart">CART</a>
                <p class="col-md-11" th:inline="text">[[${total}]] PLN ([[${itemsInCart}]])</p>
                <!--<p th:text="'('+${itemsInCart}+')'"></p>-->
            </td>
        </tr>
    </table>
    <hr>
</div>