<div xmlns:th="http://www.thymeleaf.org" th:fragment="headerCart">
    <table style="width:100%">
        <tr>
            <td align="left">
                <a href="/">Index</a>
            </td>
            <td align="right">
                <a href="/account/signin">Sign in</a>
            </td>
            <td align="right">
                <a href="/account/add">Sign Up</a>
            </td>
            <td align="right">
                <a href="/cart">CART</a>
                <p class="col-md-11" th:inline="text">[[${total}]] PLN ([[${itemsInCart}]])</p>
                <!--<p th:text="'('+${itemsInCart}+')'"></p>-->
            </td>
        </tr>
    </table>
    <hr>
</div>