<head xmlns:th="http://www.thymeleaf.org" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SpringOnlineShop by KT</title>
    <!--<link rel="stylesheet" href="/css/style.css"/>-->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
    <!--<title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>-->
</head>